.navbar {
    height: 200px;
    width: 100%;
    background-color: powderblue;
}
.navbar a{
	float:left;
	color:red;
	text-align:center;
	padding:20px 25px;
	font-size:31px;
	} 
.navbar a absolute{
	
  } 
#imgd{
	height:400px;
	width:100%;
	position:center;
	}	
.footer {
	bottom:0;
	left:0;
    width: 100%;
	position:fixed;
	padding:10px 15px;
    background-color: blue;
}